:root {
  --primary: rgba(230, 220, 235);
  background-color: var(--primary);
}


header {
  width: 100%;
  background-color: black;
  padding: 10px 10px;
}

header a#logo {
  background-color: var(--primary);
  color: black;
  padding: 2px 3px;
  margin: 2px 10px;
  font-size: 25px;
  filter: blur(0.6px);
  /* let it appear more like an image */
}

header a {
  color: var(--primary);
  display: inline-block;
  padding: 10px 10px;
  font: 20px Arial;
  margin: 2px 20px;
  text-decoration: none;
}

footer {
  width: 100%;
}

footer * {
  display: inline;
}